*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.layout {
    width: 100%;
    height: 98vh;
    display: grid;
    grid: "header" auto "main" 1fr "footer" auto / 1fr;
    background-color: rgb(21, 21, 21);
    color: white;
} 


.main {
    grid-area: main;
    padding: 10px;
    background-color: rgb(22, 21, 21);
}


.form{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.form h2{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.containerform {
  border-radius: 7px;
  color: #000000;
  background-color: #e3eae1;
width: 30%;
padding: 15px;
  
} 
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
  }
  
  input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }


  .erro {
    color: red;
    display: block;
    text-align: right;
  }

 .banner{
    height: 100vh;
    background-image: url(../images/game1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jogos{
    padding: 20px;
  }

  .jogos h1 {
    display: flex;
    justify-content: center;
    color: #04AA6D;
    padding: 20px;
  }

  .jogos h2{
    padding: 10px;
    color: #04AA6D;
  }

  .about h1{
    display: flex;
    justify-content: center ;
    padding: 20px;
  }

  .aboutcompany p{
    display: flex;
    justify-content: center ;    
    padding-right: 700px;
    padding-left: 700px;
    padding-bottom:50px ;
    padding-top: 30px;
    text-align: center;
    line-height: 3;
  }

  .aboutus{
    padding: 50px;
    display: flex;
    justify-content: center;
  }

  .diary{
    padding: 10px;
  }
  .diary h1{
    padding: 10px;
  }

  .foto1{
    height: 40vh;
    background-image: url(../images/obruxo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .foto2{
    height: 40vh;
    background-image: url(../images/cowboy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .foto3{
    height: 40vh;
    background-image: url(../images/runnerblade.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .foto4{
    height: 40vh;
    background-image: url(../images/imperios.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }